<!-- http://localhost:3000/users -->

<div class="body">
	<div class="conteiner">
		<br>
		<br>
		<% if flash[:notice] %>
		<div>
			<%= flash[:notice] %>

		</div>
		<% end %>
		<div class="row">
			<div class="col-xs-3">
				<%= render 'users/user_info', user: @user %>
				<h2>New book</h2>
				<div class="field row">
				</div>
				<div class="area row">
				</div>
			</div>
			<div class="col-xs-9">
				<h2>Users</h2>
				<table class="table">
					<thead>
						<tr>
							<th>image</th>
							<th>name</th>
							<th colspan="3"></th>
						</tr>
					</thead>
					<tbody>
						<% @users.each do |u| %>
							<tr>
								<td>
									<div class="user-edit-image">
        							<%= attachment_image_tag user, :profile_image, :fill, 60, 60, class: "img-circle pull-left profile-thumb" %>
    								</div>
								</td>
								<td><%= u.name %></td>
								<td><%= Link_to "Show", user_path(u) %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>