<!-- http://localhost:3000/book/top -->

<h2>New book</h2>
<%= form_for(book) do |f| %>
<div class="field row">
	<%= f.label :title %><br>
	<%= f.text_field :title %>
</div>
<div class="area row">
	<%= f.label :body %><br>
	<%= f.text_area :body %>
</div>
<%= f.submit 'Create Book' %>
<% end %>