<!-- http://localhost:3000/books/#/edit -->

<div class="container">
	<br>
	<br>
	<% if flash[:notice] %>
　	<div>
		<%= flash[:notice] %>
　	</div>
	<% end %>

	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h1>Editing Book</h1>
			<%= form_for(@book) do |f| %>
			<div class="field row">
				<%= f.label :title %><br>
				<%= f.text_field :title, class: "col-xs-12 book_title" %>
			</div>
			<div class="field row">
				<%= f.label :Opninon %><br>
				<%= f.text_area :body, class: "col-xs-12 book_body" %>
			</div>
			<div class="actions row">
				<%= f.submit 'Update Book', class: "btn btn-primary col-xs-12" %>
				<%= link_to "Show", book_path(@book) %>|<%= link_to "Back", books_path %>
			</div>
			<% end %>
		</div>
	</div>
</div>