<!-- http://localhost:3000/books/# -->

<div class="body">
	<div class="conteiner">
		<% if flash[:notice] %>
		<div>
			<%= flash[:notice] %>
		</div>
		<% end %>
		
		<div class="row">
			<div class="col-xs-3">
				<h2>User into</h2>
				<img class="">
				<table class="table">
					<tbody>
						<tr>
							<th></th>
							<th></th>
						</tr>
						<tr>
							<th></th>
							<th></th>
						</tr>
					</tbody>
				</table>
				<div class="row">
					<a class="col-xs-12 btn btn-default glyphicon glyphicon-wrench">
						<!-- edituserã¸ -->
					</a>
				</div>
				<%= render 'books/new_book', book: @book %>
			</div>
			<div class="col-xs-9">
				<h2>Books</h2>
				<table class="">
					<tbody>
						<tr>
							<td>
								<td>
									<div class="user-edit-image">
    								</div>
								</td>
							</td>
							<td><%= @booka.title %></td>
							<td><%= @booka.body %></td>
							<td><%= link_to "edit", edit_book_path(@booka) %></td>
							<td><%= link_to "Destroy", book_path(@booka), method: :delete, data: {confirm: "Are you sure?"} %></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>